/* You can add global styles to this file, and also import other style files */

$colorGreen: #cbe8ba;
$colorGreen2: #b6dd9f;
$colorGreen3: #9cc982;
$colorGreen4: #b6dd9f;
$colorGreen5: #18310a;
$colorBlue: #a8c6fa;
$colorBlue2: #9ec1ff;
$colorBlue3: #bfd7ff;
$colorBlue4: #b8d1ff;
$colorBlue5: #ebf2ff;
$colorPurple: #dacafb;
$colorPurple2: #e4d6ff;
$colorPurple3: #e5d7ff;
$colorPurple4: #d1bbff;
$colorPurple5: #caafff;
$colorPurple6: #bf9fff;
$colorOrange: #ffd8ad;
$colorOrange2: #ffd19f;
$colorOrange3: #ffe9d1;
$colorOrange4: #ffd19f;
$colorOrange5: #ffc78b;
$colorOrange6: #fff6ec;
$colorBlack: #232323;
$colorBlack2: #333333;
$colorGray: #c0c0c0;
$colorGray2: #777777;
$colorGray3: #fcfcfc;
$colorGray4: #f7f7f7;
$colorGray5: #c2c2c2;
$colorGray6: #d1d1d1;
$colorWhite: #f5f5f5;
$colorRed: #ffb1b1;
$colorRed2: #ffa0a0;
$colorRed3: #fc8e8e;
$colorRed4: #3b0f0f;

$fontPrimary: "Amiko";
$fontPrimaryBold: "Amiko-Bold";
$fontAB: "FA-Brands";
$fontAR: "FA-Regular";
$fontAS: "FA-Solid";

$widthWeek: calc(((100% - 4rem - 8px)/7) - 4px);
$widthLogin: 30rem;
$widthRules: 22%;

$heightNav: 5.94rem;
$heightWeek: 12rem;
$heightLogin: 15rem;


@font-face {
    font-family: "Amiko";
    src: url('./assets/fonts/Amiko-Regular.ttf');
}

@font-face {
    font-family: "Amiko-Bold";
    src: url('./assets/fonts/Amiko-Bold.ttf');
}

@font-face {
    font-family: "FA-Brands";
    src: url('./assets/fonts/FontAwesomeBrands.otf');
}

@font-face {
    font-family: "FA-Regular";
    src: url('./assets/fonts/FontAwesomeRegular.otf');
}

@font-face {
    font-family: "FA-Solid";
    src: url('./assets/fonts/FontAwesomeSolid.otf');
}

body {
    margin: 0;
    padding: 0;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.clickable {
    cursor: pointer;
}

.amiko {
    font-family: $fontPrimary;
    color: $colorBlack;
    padding-top: 4px;
}

.amikoBold {
    font-family: $fontPrimaryBold;
    color: $colorBlack;
    padding-top: 4px;
}

.ml {
    margin-left: 1rem;
}

.complete {
    text-decoration: line-through;
}

.bgBlueStatic {
    background-color: $colorBlue5;
}

.bgBlue {
    background-color: $colorBlue3;
}

.bgBlue:hover {
    background-color: $colorBlue4;
}

.bgBlue:active {
    background-color: $colorBlue2;
}

.bgOrangeStatic {
    background-color: $colorOrange6;
}

.bgOrange {
    background-color: $colorOrange;
}

.bgOrange:hover {
    background-color: $colorOrange4;
}

.bgOrange:active {
    background-color: $colorOrange5;
}

.bgGreenStatic {
    background-color: $colorGreen;
}

.bgGreen {
    background-color: $colorGreen;
}

.bgGreen:hover {
    background-color: $colorGreen2;
}

.bgGreen:active {
    background-color: $colorGreen3;
}

.bgPurpleStatic {
    background-color: $colorPurple4;
}

.bgPurple {
    background-color: $colorPurple3;
}

.bgPurple:hover {
    background-color: $colorPurple4;
}

.bgPurple:active {
    background-color: $colorPurple5;
}

.bgRedStatic {
    background-color: $colorRed;
}

.bgRed {
    background-color: $colorRed;
}

.bgRed:hover {
    background-color: $colorRed2;
}

.bgRed:active {
    background-color: $colorRed3;
}



.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.mb2 {
    margin-bottom: 2rem;
}