<div class="home-bg">



    <div class="home-week">
        <div class="home-weekL clickable">&#xf104;</div>
        <div class="home-weekDay">
            <div class="home-weekDayTitle">
                <div class="amikoBold">SUNDAY</div>
            </div>
            <div class="home-weekDayTasks">
                <div class="home-weekDayTask">
                    <div class="amiko ml">Goal</div>
                </div>
                <!-- <div class="home-weekDayTask">
                    <div class="amiko ml">Goal</div>
                </div> -->
                <!-- <div class="home-weekDayTask">
                    <div class="amiko ml">Goal</div>
                </div>
                <div class="home-weekDayTask">
                    <div class="amiko ml">Goal</div>
                </div>
                <div class="home-weekDayTask">
                    <div class="amiko ml">Goal</div>
                </div>
                <div class="home-weekDayTask">
                    <div class="amiko ml">Goal</div>
                </div>
                <div class="home-weekDayTask">
                    <div class="amiko ml">Goal</div>
                </div> -->
            </div>
            <div class="home-weekDayNum">
                <div class="amikoBold">1</div>
            </div>
        </div>
        <div class="home-weekR clickable">&#xf105;</div>
    </div>



    <div class="home-bot">


        <div class="home-day">
            <div class="home-title">
                <div class="amikoBold">HH:MM:SS</div>
            </div>
            <div class="home-hours">
                <div class="home-hour">
                    <div class="home-hourTime">
                        <div class="amikoBold">11:00</div>
                    </div>
                    <div class="home-hourTask">
                        <div class="amiko">Task</div>
                    </div>
                </div>
            </div>
        </div>


        <div class="home-goals">
            <div class="home-goalsTitle">
                <div class="amikoBold">GOALS</div>
            </div>
            <div class="home-goalsList">
                <div class="home-goal clickable">
                    <div class="amikoBold">Goal</div>
                </div>
            </div>
            <div class="home-newGoal clickable">
                <div class="amikoBold">+ NEW GOAL</div>
            </div>
        </div>
    </div>



</div>