<div class="home-bg">



    <div class="home-week">
        <div class="home-weekL clickable">&#xf104;</div>
        <div class="home-weekDay" *ngFor="let day of weekGoals">
            <div [ngClass]="getCurrentDayClass(day[0].date)" (click)="initForDay(day[0].date)">
                <div class="amikoBold">{{ daysOfWeek[day[0].date.getDay()] }}</div>
            </div>
            <div class="home-weekDayTasks">
                <div [ngClass]="getGoalClass(goal)" *ngFor="let goal of day" (click)="goal.id == 'None' ? '' : toggleGoalComplete(goal)" [style.text-decoration]="goal.complete ? 'line-through' : 'none'">
                    <div class="amiko ml">{{ goal.title }}</div>
                </div>
                <!-- <div class="home-weekDayTask">
                    <div class="amiko ml">Goal</div>
                </div> -->
                <!-- <div class="home-weekDayTask">
                    <div class="amiko ml">Goal</div>
                </div>
                <div class="home-weekDayTask">
                    <div class="amiko ml">Goal</div>
                </div>
                <div class="home-weekDayTask">
                    <div class="amiko ml">Goal</div>
                </div>
                <div class="home-weekDayTask">
                    <div class="amiko ml">Goal</div>
                </div>
                <div class="home-weekDayTask">
                    <div class="amiko ml">Goal</div>
                </div> -->
            </div>
            <div class="home-weekDayNum">
                <div class="amikoBold">1</div>
            </div>
        </div>
        <div class="home-weekR clickable">&#xf105;</div>
    </div>



    <div class="home-bot">


        <div class="home-day">
            <div class="home-title">
                <div class="amikoBold">HH:MM:SS</div>
            </div>
            <div class="home-hours">
                <div class="home-hour" *ngFor="let hour of currentDayTasks">
                    <div class="home-hourTime">
                        <div class="amikoBold">{{ hour.date.getHours() }}:00</div>
                    </div>
                    <div class="home-hourTask" *ngIf="!isEdit(hour)" (click)="setEdit(hour)">
                        <div class="amiko">{{ hour.title }}</div>
                    </div>
                    <div class="home-hourTask" *ngIf="isEdit(hour)" >
                        <input class="home-newTask" [(ngModel)]="editTaskName" />
                        <div class="home-newConfirm">
                            <div class="home-cancel bgRed clickable" (click)="setEdit(undefined)">&#xf00d;</div>
                            <div class="home-submit bgGreen clickable" (click)="overrideTask(hour, editTaskName)">&#xf00c;</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="home-goals" (click)="setEdit(undefined)">
            <div class="home-goalsTitle">
                <div class="amikoBold">GOALS</div>
            </div>
            <div class="home-goalsList">
                <div class="home-goal clickable" *ngFor="let goal of currentDayGoals" (click)="goal.id == 'None' ? '' : toggleGoalComplete(goal)" [style.text-decoration]="goal.complete ? 'line-through' : 'none'">
                    <div class="amikoBold noselect">{{ goal.title }}</div>
                </div>
            </div>
            <div class="home-newGoal clickable">
                <div class="amikoBold">+ NEW GOAL</div>
            </div>
        </div>
    </div>



</div>